nav {
    flex:1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    font-size: 14px;
}
nav ul li a:hover{
    color: gray;
}
.social-links svg{
    margin: 15px;
    cursor: pointer;
}
.social-links{
    padding-top: 3rem;
    text-align: center;
}
.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.first{
    display: block;
}

.Containers{
    display: none;
}

.Carousel{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
 .backbtn, .fwdbtn{
     font-size: 14pt;
     border: 0px;
 }
.back:hover, .forward:hover{
    cursor: pointer;
}

.Info{
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }

 .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
 }

 @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

@media screen and (max-width:400px) {
    
}