nav {
    flex:1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    font-size: 14px;
}
nav ul li a:hover{
    color: gray;
}
.social-links svg{
    margin: 15px;
    cursor: pointer;
}
.social-links{
    text-align: center;
}